.title {
  margin-top: 2.0rem !important;
  margin-bottom: 2.0rem !important;
}

.card-deck-custom {
  margin-bottom: 2em;
}

.jumbo-over-reading {
  padding: 0.5rem !important;
  margin-bottom: 2.0rem !important;
  background-image: url('./img/reading-back.jpg');
  background-position: center;
  background-size: cover;
}

.h5-margin {
  margin-bottom: 2em;
}
