.navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand a {
  color: #606060;
  text-decoration: none;
}
.navbar .navbar-brand:hover a,
.navbar .navbar-brand a.active,
.navbar .navbar-brand:focus a {
  color: #000000;
}
.navbar .navbar-text {
  color: #606060;
}
.navbar .navbar-nav .nav-link {
  color: #606060;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #000000;
}
.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #000000;
}
.navbar .navbar-toggle {
  border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #000000;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #606060;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #606060;
}
.navbar .navbar-link {
  color: #606060;
}
.navbar .navbar-link:hover {
  color: #000000;
}

@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item {
    color: #606060;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item:focus {
    color: #000000;
  }
  .navbar .navbar-nav .open .dropdown-menu .dropdown-item.active {
    color: #000000;
    background-color: #000000;
  }
}
